@use '../../styles/variables'

.cards-about
  grid-template-columns: 6fr 6fr
  gap: 0rem

.card-about
  margin: 3rem auto
  background: #231e39
  color: variables.$white
  border-radius: 5px
  width: 70%
  text-align: center
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75)

.card-about:hover
  box-shadow: 0 10px 20px -10px variables.$red
  transform: translateY(-10px)
  transition-duration: .5s
  cursor: pointer

.cover-photo
  background: url('../../assets/bg-gradiente.png')
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  border-radius: 5px 5px 0 0

.profile
  height: 15rem
  width: 15rem
  border-radius: 50%
  margin: 3rem
  border: 1px solid variables.$red
  padding: .2rem
  background: variables.$red

.position
  font-family: variables.$inclusive
  font-size: variables.$card-text
  font-weight: 300
  color: variables.$red
  margin: -1rem
  margin-bottom: 1rem

.profile-name
  font-family: variables.$inclusive
  font-size: variables.$text-font
  font-weight: bold
  margin: 1rem

.about
  margin: 1rem
  line-height: 21px

.card i
  font-size: 2rem
  margin-bottom: 2rem
  cursor: pointer
  transition: .5s

.card-about i:hover
  color: variables.$red

.bx bxl-linkedin-square
  color: #0077b5

// mobile
@media screen and (max-width: 767px)
  .cards-about
    grid-template-columns: 1fr
    gap: 0rem

  .card-about
    margin: 1rem auto
    width: 100%
