@use '../../styles/variables'

.agency-texts
    color: variables.$white
    text-align: center
    margin-top: variables.$m-3
    font-weight:    variables.$font-weight-bold



.section-subtitle
    font-weight: 400
    color: variables.$white    
    font-family: variables.$inclusive


.agency-cards
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    gap: 1.5rem
    margin-top: variables.$m-3
    padding: 1rem
    justify-content: center
    color: variables.$white