@use '../../styles/variables'

.agency-texts
    color: variables.$white
    text-align: center
    margin-top: variables.$m-3
    font-weight: variables.$font-weight-bold

.agency-title
    font-size: variables.$cta-font
    font-family: variables.$inclusive
    color: variables.$red
    font-weight: variables.$font-weight-bold
    margin-top: variables.$m-0-5

.agency-description
    font-size: variables.$inclusive
    font-family: variables.$text-font
    color: variables.$white
    font-weight: variables.$font-weight-normal
    margin-top: variables.$m-0-5

.section-subtitle
    font-weight: 400
    color: variables.$white
    font-family: variables.$inclusive

.agency-cards
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    gap: 1.5rem
    margin-top: variables.$m-3
    padding: 1rem
    justify-content: center
    color: variables.$white

.counters
    align-items: center
    text-align: center
    justify-content: center
    display: flex
    font-size: 1.5rem
    padding: .5rem
    font-family: variables.$inclusive

.swiper2 img
    width: 100%
    height: 100%
    object-fit: cover



