@use '../../styles/variables'

.cards-project
  padding: 0
  margin-top: variables.$m-2
  grid-template-columns: 3fr 3fr 3fr 3fr
  gap: 0

/* From Uiverse.io by gharsh11032000 */ 
.card-project
  position: relative
  width: 100%
  height: 100%
  background-color: #231e39
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  perspective: 1000px
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275)


.card-project img 
  width: 100%
  height: 100%
  background-size: contain
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275)


.card-project:hover 
  transform: scale(1.0)
  box-shadow: 0 5px 12px rgba(0, 0, 0, 1)


.project-card-content 
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  padding: 1.25rem
  box-sizing: border-box
  background-color: variables.$black
  transform: rotateX(-90deg)
  transform-origin: bottom
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275)


.card-project:hover .project-card-content 
  transform: rotateX(0deg)


.project-card-title 
  margin: 0
  font-size: variables.$card-text
  color: variables.$red
  font-weight: 700


.card-project:hover img 
  scale: 0


.project-card-description 
  margin: 10px 0 0
  font-size: variables.$small
  font-family: variables.$inclusive
  color: variables.$white
  line-height: 1.4
  cursor: default
