// fontes

$header-height: 3rem

$inter: 'Inter', sans-serif
$inclusive: 'Inclusive Sans', sans-serif


// font size
$cta-font:3rem
$text-font:1.5rem
$section-title:2rem
$card-text:1.25rem
$subtitle: 1rem
$small: 0.75rem

// fonte weight
$font-weight-bold: 700
$font-weight-normal: 200


// cores
$black: #0D0B18
$red:#E62158
$white:#F9FCFB    
$we-pink:#975187    
$gray:#D3D3D3

// margin-bottom
$m-0-25: 0.25rem
$m-0-5: 0.5rem
$m-0-75: 0.75rem
$m-1: 1rem
$m-1-25: 1.25rem
$m-1-5: 1.5rem
$m-2: 2rem
$m-2-5: 2.5rem
$m-3: 3rem



