@use '../../styles/variables'

#footer
    color: #fff
    font-family: variables.$inter
    background-color: #000
    height: 100%

    p
        font-weight: 200

.columns
    display: grid
    grid-template-columns: repeat(3, 4fr)
    grid-gap: 2rem

.column
    width: 100%
    padding: 2rem 4rem

.logo-footer img
    margin-left: 2rem
    width: 70%

.logo-footer p
    font-size: 0.8rem
    padding: .5rem 0

.services-footer p
    padding: 0.2rem 0

.services-footer h3
    margin-bottom: 0.5rem
    color: variables.$red

.social-media
    display: flex
    justify-content: center

.social-media  a
    padding: 0 0.5rem
    font-size: 2.5rem
    text-align: center
    color: variables.$white

.social-media i:hover
    transition: .4s ease
    color: variables.$red

.copy
    text-align: center
    font-size: 0.8rem
    padding: 0.5rem
    text-transform: uppercase

/*responsive*/
@media screen and (max-width: 992px)
    .columns
        column-gap: 3rem

@media screen and (max-width: 768px)
    .columns
        text-align: center
        grid-template-columns: 1fr
        row-gap: 1rem

    .logo-footer img
        margin-left: 0rem
        padding: 0.5rem
        width: 50%


    .social-media
        margin: 0 35%

    .card-briefs
        margin-top: 3rem
